
#container1, #container2, #container3, #container4, #container5{
	height: 1000px;
	width: 100%;

}
#container2, #container3, #container4, #container5{
	margin-top: 50em;
}
#container1 nav{
	position: relative;
	bottom: 25em;
	right: 2em;
	float: right;
}
#container1 li{
	margin-right: .125em;	
}
#container2{
	margin-bottom: 1em
}
#container3{
	background-color: gray;
}
/*----------------------------------------------global carousel elements */
.carousel-indicators li{
	background-color: #A89D9D;
	margin-top: 15%;
}
.carousel-control{
	top: 50%;
	line-height: 35px
}
.carousel-control-right{
	right: 1px
}
.carousel-indicators .active{
	background-color: black
}
/*----------------------------------------------end global carousel elements */
/*----------------------------------------------image carousel elements */
#imageCarousel{
	width: 100%
}
/*----------------------------------------------end image carousel elements */
/*----------------------------------------------video carousel elements */
#videoCarousel{
	width: 640px;
	height: 354px;
	margin: 100px auto;
}
/*----------------------------------------------end carousel elements */
/*--------------------------about section*/
article{
	padding: 3em;
	margin: 0 2em;
	border: 1px solid;
	border-radius: 15px;
	background-color: #F0F0F0;
	font-family: arial;
}

/*filler for testing */
#dummy{
	background-color: red;
	width: 500px;
	height: 500px;
	margin-top: 1000px
}